
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}body{
    height: 95vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
}
.main{
    background-color: rgb(44, 44, 44);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.main >h1{
    font-size: 2.2rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0.5vw;
}
#label{
    margin: 0.5vw;
    font-size: 0.9rem;
    color: #ffffff;

}

#invalid{
    /* display: none; */
    height: 20px;
    margin: 0.5vw;
    font-size: 0.9rem;
    color: #ffffff;

}
form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin: 0.5vh;

    input{
        grid-column-start: 1;
        grid-column-end:3;
        height: 30px;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 0 10px;
    }
}
.btn{
    color: #fff;
    background-color: rgba(33, 255, 33, 0.9);
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: rgba(39, 238, 39, 0.662);
        color: #fff;
    }
}
.reset{
    background-color: #f4eded;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid  rgba(0, 255, 0, 0.756);
    border-radius: 8px;
    color:  rgba(9, 197, 9, 0.603);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    
    &:hover {
        background-color: #ffffffe0;
        color:rgba(0, 255, 0, 0.765);
    }
}
.display{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    p{
        color: #ffffff;
        span{
            color: #ffffff;
        }
    }
}